.footer {
  background-color: #0a2850;
  padding: 60px 80px 0;
  color: #ffffff;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: -1;
}

.footer__social-heading {
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin: 0;
  padding-top: 108px;
  padding-bottom: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
