.nav {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 80px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}
