.recipes {
  padding: 100px 80px 80px;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 215px;
}

.recipes__video-item {
  max-width: 480px;
  width: 100%;
}

.recipes__iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
